{% extends "app01/base.html" %}
{% load crispy_forms_tags %}
{% load highlight_keywords %}
{% load static %}

{% block content %}
<h4>Answer Page.</h4>
<p>This is an answer page. Answer pages display information about how you and the rest of the community have answered a question.<br>
    Once you have reviewed the answer data you can continue your journey by selecting one of the options at the bottom of the page.<br>
    </p>

<div><h5 style="margin-right: 20px;">Answer Data:</h5>
{% if answer_user_vote == "Approve" %}
    <div>
        {{ user.userprofile.preferred_name }}, thank you for answering the question:<br>
        "{{ question.question_text|highlight_keywords }}"<br>
        You answered: <span id="answer_user_vote" class="{{ answer_user_vote|lower }}">{{ answer_user_vote }}</span><br>
        <span id="answer_total_votes">{{ answer.total_votes }}</span> of our {{ total_users }} community members have voted on this subject, a participation percentage of <span id="answer_participation_percentage">{{ answer.participation_percentage }}</span>%.<br>
        Of the {{ answer.total_votes }} community members who have answered this question, {{ answer.approval_percentage }}% agree with you.
    </div>
{% elif answer_user_vote == "Reject" %}
    <div>
        {{ user.userprofile.preferred_name }}, thank you for answering the question:<br>
        "{{ question.question_text|highlight_keywords }}"<br>
        You answered: <span id="answer_user_vote" class="{{ answer_user_vote|lower }}">{{ answer_user_vote }}</span><br>
        <span id="answer_total_votes">{{ answer.total_votes }}</span> of our {{ total_users }} community members have voted on this subject, a participation percentage of <span id="answer_participation_percentage">{{ answer.participation_percentage }}</span>%.<br>
        Of the {{ answer.total_votes }} community members who have answered this question, {{ answer.rejection_percentage }}% agree with you.
    </div>
{% elif answer_user_vote == "No Vote" %}
    <div>
        {{ user.userprofile.preferred_name }}, you have not answered the question:<br>
        "{{ question.question_text|highlight_keywords }}"<br>
        <span id="answer_total_votes">{{ answer.total_votes }}</span> of our {{ total_users }} community members have voted on this subject, a participation percentage of <span id="answer_participation_percentage">{{ answer.participation_percentage }}</span>%.
    </div>
{% endif %}
    </div>
<!--<div class="answer-stats" style="display: flex; align-items: flex-start;">-->
    <div id="answer-pie-chart" style="display: flex; align-items: center; justify-content: center; width: 100%; height: 333px;"></div>
    <table style="display: none;">
        <tr>
            <th>Approve Votes</th>
            <th>Reject Votes</th>
            <th>% Approval</th>
        </tr>
        <tr>
            <td id="answer_total_approve_votes">{{ answer.total_approve_votes }}</td>
            <td id="answer_total_reject_votes">{{ answer.total_reject_votes }}</td>
            <td id="answer_approval_percentage">{{ answer.approval_percentage }}%</td>
        </tr>
    </table>

       <div style="display: flex; align-items: center; justify-content: center;">
       <p>You can change your answer at anytime or choose another option from the buttons below.</p>
       </div>


<!--  <div class="question-circle">-->
<!--      <h4 style="margin-right: 20px;">Choose your path:</h4>-->
<!--      <p>-->
<!--        <i class="fa-solid fa-share fa-flip-both" style="color: red;"></i> Change your answer to this question,<br>-->
<!--        <i class="fa-solid fa-check-to-slot" style="color: orange;"></i> Vote on inclusion of this question content,<br>-->
<!--        <i class="fa-solid fa-comment-dots" style="color: yellow;"></i> Discuss and edit this question content,<br>-->
<!--        <i class="fa-solid fa-share" style="color: green;"></i> Go to the next related question,<br>-->
<!--        <i class="fa-solid fa-edit" style="color: blue"></i> Propose a new related question,<br>-->
<!--        <i class="fa-solid fa-tree" style="color: indigo"></i> Return to the main question tree.<br>-->
<!--      </p>-->
<!--    </div>-->

<div class="button-container">
<button class="menu-item" id="next_question">
    next question
  </button>
      <button class="menu-item" id="content_vote">
    vote on content
  </button>
<!--  <button class="menu-item" id="discuss_edit">-->
<!--    Discuss & Edit-->
<!--  </button>-->
  <button class="menu-item" id="propose_question">
    propose question
  </button>
    <button class="menu-item" id="change_answer">
    change answer
  </button>
  <button class="menu-item" id="return_to_tree">
    main tree
  </button>
</div>

{% endblock %}

{% block extra_js %}
<script src="https://d3js.org/d3.v6.min.js"></script>
<script>
        window.questionTag = "{{ question_tag }}";
    </script>
<script type="module" src="{% static 'app01/js/answer_binary.js' %}"></script>
<script type="module" src="{% static 'app01/js/binary_pie_chart.js' %}"></script>
{% endblock %}
