{% extends 'app01/base.html' %}

{% block content %}
<a href="{% url 'app01:home' %}" class="circle-button">Project01</a>
<h3>Please build a page for each of these approved changes to our site.</h3>
<h2>Approved Changes</h2>
<table>
  <colgroup>
    <col style="width: 10%;">
    <col style="width: 10%;">
    <col style="width: 10%;">
    <col style="width: 30%;">
    <col style="width: 5%;">
    <col style="width: 5%;">
    <col style="width: 10%;">
</colgroup>
  <thead>
    <tr>
      <th>Root Path</th>
      <th>Main Tag</th>
      <th>Additional Tags</th>
      <th>Question Text</th>
      <th>Participation (%)</th>
      <th>Approval (%)</th>
      <th>Change Status</th>
    </tr>
  </thead>
  <tbody>
    {% for question in questions %}
    <tr>
      <td class="path-to-root">
        {% for tag in question.question_path %}
            {{ tag.name }}
            {% if not forloop.last %} > {% endif %}
        {% endfor %}
      </td>
      <td class="main-tag">{{ question.main_tag.name }}</td>
      <td class="additional-tags">
        {% for tag in question.get_additional_tags %}
          {{ tag.name }}
        {% endfor %}
      </td>
      <td class="question-text">{{ question.question_text }}</td>
      <td class="participation-percentage">{{ question.participation_percentage|floatformat:1 }}%</td>
      <td class="approval-percentage">{{ question.approval_percentage|floatformat:1 }}%</td>
      <td>
        <form action="{% url 'app01:update_status' question.id %}" method="post">
            {% csrf_token %}
            {% if request.user.is_staff %}
                {{ form.as_p }}
                <input type="submit" value="Update Status">
            {% else %}
                {{ form.as_p }}
                <input type="submit" value="Update Status" disabled>
            {% endif %}
        </form>
      </td>
    </tr>
    {% empty %}
    <tr>
            <td colspan="10">No approved changes at this time.</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}


