{% extends "app01/base.html" %}
{% load crispy_forms_tags %}
{% load highlight_keywords %}
{% load static %}

{% block content %}
<h4>Keyword Page.</h4>
<p>This is a keyword page. Keyword pages display keywords and their definitions and allow you to vote on their inclusion on this site.<br>
    Keywords are words identified by our community as important for use in this project.<br>
   Each keyword is defined by the community so that we share an understanding of the meaning of these important words when they are used in discussion within the context of Digiocracy.<br>
    After reading the keyword and its definition below you can vote to approve or reject its use on this site, or you can edit it if you feel there is a better word or definition.
    </p>
    <div class="question-circle">
        <h5 style="margin-right: 20px;">Keyword: {{ keyword.word }}</h5>
        Definition:
         <p>
            {% if keyword.definition %}
                {{ keyword.definition.definition|highlight_keywords }}
            {% else %}
                "No definition available"
            {% endif %}
        </p>
    </div>
<p style="display: flex; align-items: center; justify-content: center;">{{ user.userprofile.preferred_name }}, do you approve or reject the use of this keyword and definition in this project?</p>
    <div style="display: flex; align-items: center; justify-content: center;">
        <form class="keyword-vote-form" method="post">
            {% csrf_token %}
            <input type="hidden" name="votable_content_type" value="{{ keyword_votable_type }}">
            <input type="hidden" name="votable_object_id" value="{{ keyword_obj }}">
            <input type="hidden" id="keyword_vote" name="vote">
            <button type="button" class="keyword-vote-btn" id="keyword_approve" value="1">Approve</button>
            <button type="button" class="keyword-vote-btn" id="keyword_reject" value="-1">Reject</button>
            <button type="button" class="keyword-vote-btn" id="keyword_no_vote" value="0">No Vote</button>
        </form>
        <button class="menu-item" id="discuss_edit">Edit</button>
        </div>
<div>
        <p>{{ user.userprofile.preferred_name }}, your current votes is: <span id="keyword_user_vote" class="{{ keyword_user_vote|lower }}">{{ keyword_user_vote }}</span></p>
        <p>You can change your vote anytime using the buttons above.</p>
      </div>



{% endblock %}

{% block extra_js %}
    <script src="https://d3js.org/d3.v6.min.js"></script>
    <script>
        const voteUrl = "{% url 'app01:submit_vote' %}";
    </script>
    <script type="module" src="{% static 'app01/js/keyword_detail.js' %}"></script>
    <script type="module" src="{% static 'app01/js/binary_pie_chart.js' %}"></script>
{% endblock %}
