{% extends "app01/base.html" %}

{% load static %}

{% block content %}
    <div id="keywordTree"></div>

    <script src="https://d3js.org/d3.v5.min.js"></script>
    <script src="{% static 'app01/js/radial_tree.js' %}"></script>

    <script>
    // Fetch the tree data from the server
    fetch('{% url 'app01:keyword_json' %}')
        .then(response => response.json())
        .then(data => {
            console.log(data);
            // Pass the data to your D3 script to render the tree
            createRadialTree(data);  // Assume you have a function named createRadialTree in radial_tree.js
        });
    </script>
{% endblock %}


