{% extends "app01/base.html" %}
{% load crispy_forms_tags %}
{% load highlight_keywords %}
{% load static %}

{% block content %}

<h1>Keyword Dictionary</h1>
<p>Click on any Keyword to view more details, vote on status and propose changes.</p>
    <div class="container">
       {% for keyword in keywords %}
    <div>
        <h5 style="margin-right: 20px;">{{ keyword.word|highlight_keywords }}:</h5>
        <h6>{{ keyword.get_live_definition.definition|highlight_keywords }}</h6>
    </div>
{% empty %}
    <h6>No keywords available.</h6>
{% endfor %}


    </div>

<div class="keyword-propose" style="display: flex; align-items: baseline;">
    <h4 style="margin-right: 20px;">Propose a new Keyword and Definition:</h4>
    <p> TODO: add link to create_keyword page here.</p>
</div>

{% endblock %}

{% block extra_js %}
<script src="https://d3js.org/d3.v6.min.js"></script>
<script type="module" src="{% static 'app01/js/keyword_dictionary.js' %}"></script>

{% endblock %}
