{% extends "app01/base.html" %}
{% load static %}

{% block content %}
    <div> <h4>Question Tree.</h4>
<p>This is the question tree, the main way to navigate around this site. The question tree displays all the question tags for the questions written by our community.<br>
    To answer a question and join the conversation, simply click on the node of a question tag that interests you.<br>
    </p></div>
    <div id="QuestionTree"></div>


    <script src="https://d3js.org/d3.v5.min.js"></script>
    <script src="{% static 'app01/js/radial_tree.js' %}"></script>

    <script>
    // Fetch the tree data from the server
    fetch('{% url 'app01:question_json' %}')
        .then(response => response.json())
        .then(data => {
            console.log(data);
            // Pass the data to your D3 script to render the tree
            createRadialTree(data, "QuestionTree", "/question/");  // Pass the container ID as a second argument
        });
    </script>
{% endblock %}
