{% extends "app01/base.html" %}
{% load static %}

{% block content %}
    <div id="instructions"><br>Please join in the conversation by: answering questions, voting on proposals, creating proposals, discussing proposals</div>
    <div id="QuestionTree"></div>


    <script src="https://d3js.org/d3.v5.min.js"></script>
    <script src="{% static 'app01/js/radial_tree.js' %}"></script>

    <script>
    // Fetch the tree data from the server
    fetch('{% url 'app01:question_json' %}')
        .then(response => response.json())
        .then(data => {
            console.log(data);
            // Pass the data to your D3 script to render the tree
            createRadialTree(data, "QuestionTree", "/question/");  // Pass the container ID as a second argument
        });
    </script>
{% endblock %}
