{% extends 'app01/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div class="register-form-container">
 <a href="{% url 'app01:home' %}" class="small-circle-button">Digiocracy</a>
  <h4>This crucial step guarantees your individual representation and preserves your journey through Digiocracy.</h4>
  <form method="post">
    {% csrf_token %}
    {{ user_form|crispy }}
    {{ profile_form|crispy }}
    <button type="submit" class="small-circle-button">Register</button>
  </form>
</div>
{% endblock %}
