:root {
  --proposed: #0079FF;
  --rejected: #FF0060;
  --approved: #00DFA2;
  --alternative: #F6FA70;
  --no-vote: #454545; /* or any other color for no-vote */
}

.navbar {
    background-color: white !important;
}

.navbar-light .navbar-nav .nav-link, .navbar-light .navbar-brand {
    color: black !important;
}

.dropdown-toggle::after {
    display: none;
}

.fas.fa-bars {
    font-size: 24px; /* Adjust as needed */
}

.circle-button {
    width: 200px;  /* Set the width and height to make a circle */
    height: 200px;
    border: 6px solid black;
    border-radius: 50%;  /* This makes it a circle */
    color: black;
    background-color: white;
    font-size: 2.5em;
    line-height: 150px; /* Vertically center the text */
    text-align: center;
    display: block;  /* Change this from inline-block to block */
    margin: 0 auto;  /* Add this to center the element */
    transition: background-color 0.3s ease, color 0.3s ease;  /* Optional: Add a hover effect */
    text-decoration: none;
}

.circle-button:hover {
    color: white;
    background-color: black;
    text-decoration: none;
}

.circle-button:focus {
    outline: none;
}

.small-circle-button {
    width: 100px;  /* Adjust as needed */
    height: 100px;  /* Adjust as needed */
    border: 3px solid black;  /* Adjust as needed */
    border-radius: 50%;  /* This makes it a circle */
    color: black;
    background-color: white;
    font-size: 1.2em;  /* Adjust as needed */
    line-height: 75px;  /* Adjust as needed */
    text-align: center;
    display: block;  /* Change this from inline-block to block */
    margin: 0 auto;  /* This will center the element */
    transition: background-color 0.3s ease, color 0.3s ease;  /* Optional: Add a hover effect */
}

.small-circle-button:hover {
    color: white;
    background-color: black;
}

.small-circle-button:focus {
    outline: none;
}

.register-form-container {
  width: 60%; /* Adjust this value to suit your needs */
  margin: 0 auto; /* This will center the form */
}

.login-form-container {
  width: 30%; /* Adjust this value to suit your needs */
  margin: 0 auto; /* This will center the form */
}

.account-form-container {
  width: 60%; /* Adjust this value to suit your needs */
  margin: 0 auto; /* This will center the form */
}

.keyword-definition-pair .full-width {
  width: 100% !important;
  box-sizing: border-box;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
}

th {
    background-color: #f2f2f2;
    text-align: center;
}

tr:hover {
    background-color: #f5f5f5;
}

.keyword {
  cursor: pointer;
}

#keywordTree {
  overflow: auto;
}

.vote-btn {
  display: inline-block;
  font-size: 1rem; /* Change as needed */
  text-align: center;
  color: #ffffff; /* Set the text color to white */
  font-weight: bold;
  width: 5rem; /* Fixed width */
  height: 5rem; /* Fixed height */
  line-height: 5rem; /* Vertically align the text */
  padding: 0;
  margin: 0.5rem;
  border-radius: 50%; /* Make the button circular */
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
  overflow: hidden; /* To ensure longer text doesn't overflow */
  outline-color: #ffffff;
}

.vote-btn:focus {
  /* Add a white box shadow on focus */
  box-shadow: 0 0 10px #ffffff;
}

div {
    margin-bottom: 2rem;
}


#approve {
  background-color: var(--approved);
}

#approve:hover {
  background-color: var(--approved);
}

#reject {
  background-color: var(--rejected);
}

#reject:hover {
  background-color: var(--rejected);
}

#no_vote {
  background-color: var(--no-vote);
}

#no_vote:hover {
  background-color: var(--no-vote);
}


span#status {
  font-weight: bold;
}

span#status.proposed {
  color: var(--proposed);
}

span#status.approved {
  color: var(--approved);
}

span#status.rejected {
  color: var(--rejected);
}

span#status.alternative {
  color: var(--alternative);
}

span#user_vote {
  font-weight: bold;
}

span#user_vote.approve {
  color: var(--approved);
}

span#user_vote.reject {
  color: var(--rejected);
}

span#user_vote.no-vote {
  color: var(--no-vote);
}

.keyword {
  color: var(--proposed);
}

.keyword.rejected {
  color: var(--rejected);
}

.keyword.alternative {
  color: var(--alternative);
}

.keyword.approved {
  color: var(--approved);
}
