:root {
  --proposed: #0079FF;
  --rejected: #FF0060;
  --approved: #00DFA2;
  --alternative: #F6FA70;
  --no-vote: #454545; /* or any other color for no-vote */
}

.navbar {
    background-color: white !important;
}

.navbar-light .navbar-nav .nav-link, .navbar-light .navbar-brand {
    color: black !important;
}

.dropdown-toggle::after {
    display: none;
}

.fas.fa-bars {
    font-size: 24px; /* Adjust as needed */
}

.circle-button {
    width: 200px;  /* Set the width and height to make a circle */
    height: 200px;
    border: 6px solid black;
    border-radius: 50%;  /* This makes it a circle */
    color: black;
    background-color: white;
    font-size: 2.5em;
    line-height: 150px; /* Vertically center the text */
    text-align: center;
    display: block;  /* Change this from inline-block to block */
    margin: 0 auto;  /* Add this to center the element */
    transition: background-color 0.3s ease, color 0.3s ease;  /* Optional: Add a hover effect */
    text-decoration: none;
}

.circle-button:hover {
    color: white;
    background-color: black;
    text-decoration: none;
}

.circle-button:focus {
    outline: none;
}

.small-circle-button {
    width: 100px;  /* Adjust as needed */
    height: 100px;  /* Adjust as needed */
    border: 3px solid black;  /* Adjust as needed */
    border-radius: 50%;  /* This makes it a circle */
    color: black;
    background-color: white;
    font-size: 1.2em;  /* Adjust as needed */
    line-height: 75px;  /* Adjust as needed */
    text-align: center;
    display: block;  /* Change this from inline-block to block */
    margin: 0 auto;  /* This will center the element */
    transition: background-color 0.3s ease, color 0.3s ease;  /* Optional: Add a hover effect */
}

.small-circle-button:hover {
    color: white;
    background-color: black;
}

.small-circle-button:focus {
    outline: none;
}

.register-form-container {
  width: 60%; /* Adjust this value to suit your needs */
  margin: 0 auto; /* This will center the form */
}

.login-form-container {
  width: 30%; /* Adjust this value to suit your needs */
  margin: 0 auto; /* This will center the form */
}

.account-form-container {
  width: 60%; /* Adjust this value to suit your needs */
  margin: 0 auto; /* This will center the form */
}

.keyword-definition-pair .full-width {
  width: 100% !important;
  box-sizing: border-box;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
}

th {
    background-color: #f2f2f2;
    text-align: center;
}

tr:hover {
    background-color: #f5f5f5;
}

.keyword {
  cursor: pointer;
}

#keywordTree {
  overflow: auto;
}


.keyword-vote-btn, .definition-vote-btn, .propose-btn, .question-tag-vote-btn, .question-vote-btn, .answer-vote-btn, .expand-btn, .digiocracy-btn {
  display: inline-block;
  font-size: 1rem; /* Change as needed */
  text-align: center;
  color: #ffffff; /* Set the text color to white */
  font-weight: bold;
  width: 5rem; /* Fixed width */
  height: 5rem; /* Fixed height */
  line-height: 5rem; /* Vertically align the text */
  padding: 0;
  margin: 0.5rem;
  border-radius: 50%; /* Make the button circular */
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
  overflow: hidden; /* To ensure longer text doesn't overflow */
  outline-color: #ffffff;
  outline: none;
}


div {
    margin-bottom: 2rem;
}

.digiocracy-btn {
  color: black;
  background-color: white;
}

.digiocracy-btn:hover {
  color: white;
  background-color: black;
  text-decoration: none;
  box-shadow: 0 0 0 2px var(--proposed);
}

.propose-btn {
  background-color: var(--proposed);
}

.propose-btn:hover {
  color: var(--proposed);
  background-color: #ffffff;
  box-shadow: 0 0 0 2px var(--proposed);
}

.expand-btn {
  background-color: var(--alternative);
}

.expand-btn:hover {
  color: var(--proposed);
  background-color: #ffffff;
  box-shadow: 0 0 0 2px var(--alternative);
}

#keyword_approve, #keyword_definition_approve, #question_tag_approve, #question_approve, #answer_approve {
  background-color: var(--approved);
}

#keyword_approve:hover, #keyword_definition_approve:hover, #question_tag_approve:hover, #question_approve:hover, #answer_approve:hover  {
  color: var(--approved);
  background-color: #ffffff;
  box-shadow: 0 0 0 2px var(--approved);
}

#keyword_reject, #keyword_definition_reject, #question_tag_reject, #question_reject, #answer_reject {
  background-color: var(--rejected);
}

#keyword_reject:hover, #keyword_definition_reject:hover, #question_tag_reject:hover, #question_reject:hover, #answer_reject:hover {
  color: var(--rejected);
  background-color: #ffffff;
  box-shadow: 0 0 0 2px var(--rejected);
}

#keyword_no_vote, #keyword_definition_no_vote, #question_tag_no_vote, #question_no_vote, #answer_no_vote {
  background-color: var(--no-vote);
}

#keyword_no_vote:hover, #keyword_definition_no_vote:hover, #question_tag_no_vote:hover, #question_no_vote:hover, #answer_no_vote:hover {
  color: var(--no-vote);
  background-color: #ffffff;
  box-shadow: 0 0 0 2px var(--no-vote);
}


span#keyword_status, span#keyword_definition_status, span#question_tag_status, span#question_status {
  font-weight: bold;
}

span#keyword_status.proposed, span#keyword_definition_status.proposed, span#question_tag_status.proposed, span#question_status.proposed {
  color: var(--proposed);
}

span#keyword_status.approved, span#keyword_definition_status.approved, span#question_tag_status.approved, span#question_status.approved {
  color: var(--approved);
}

span#keyword_status.rejected, span#keyword_definition_status.rejected, span#question_tag_status.rejected, span#question_status.rejected {
  color: var(--rejected);
}

span#keyword_status.alternative, span#keyword_definition_status.alternative, span#question_tag_status.alternative, span#question_status.alternative {
  color: var(--alternative);
}

span#keyword_user_vote, span#keyword_definition_user_vote, span#question_tag_user_vote, span#question_user_vote {
  font-weight: bold;
}

span#keyword_user_vote.approve, span#keyword_definition_user_vote.approve, span#question_tag_user_vote.approve, span#question_user_vote.approve {
  color: var(--approved);
}

span#keyword_user_vote.reject, span#keyword_definition_user_vote.reject, span#question_tag_user_vote.reject, span#question_user_vote.reject {
  color: var(--rejected);
}

span#keyword_user_vote.no-vote, span#keyword_definition_user_vote.no-vote, span#question_tag_user_vote.no-vote, span#question_user_vote.no-vote {
  color: var(--no-vote);
}

.keyword.proposed {
  color: var(--proposed);
}

.keyword.rejected {
  color: var(--rejected);
}

.keyword.alternative {
  color: var(--alternative);
}

.keyword.approved {
  color: var(--approved);
}

#question_tag_expand, #question_expand, #question_propose_expand, #keyword_expand, #definition_expand, #keyword_propose_expand {
    display: none;
}
