.navbar {
    background-color: white !important;
}

.navbar-light .navbar-nav .nav-link, .navbar-light .navbar-brand {
    color: black !important;
}

.dropdown-toggle::after {
    display: none;
}

.fas.fa-bars {
    font-size: 24px; /* Adjust as needed */
}

.circle-button {
    width: 200px;  /* Set the width and height to make a circle */
    height: 200px;
    border: 6px solid black;
    border-radius: 50%;  /* This makes it a circle */
    color: black;
    background-color: white;
    font-size: 2.5em;
    line-height: 150px; /* Vertically center the text */
    text-align: center;
    display: block;  /* Change this from inline-block to block */
    margin: 0 auto;  /* Add this to center the element */
    transition: background-color 0.3s ease, color 0.3s ease;  /* Optional: Add a hover effect */
    text-decoration: none;
}

.circle-button:hover {
    color: white;
    background-color: black;
    text-decoration: none;
}

.circle-button:focus {
    outline: none;
}

.small-circle-button {
    width: 100px;  /* Adjust as needed */
    height: 100px;  /* Adjust as needed */
    border: 3px solid black;  /* Adjust as needed */
    border-radius: 50%;  /* This makes it a circle */
    color: black;
    background-color: white;
    font-size: 1.2em;  /* Adjust as needed */
    line-height: 75px;  /* Adjust as needed */
    text-align: center;
    display: block;  /* Change this from inline-block to block */
    margin: 0 auto;  /* This will center the element */
    transition: background-color 0.3s ease, color 0.3s ease;  /* Optional: Add a hover effect */
}

.small-circle-button:hover {
    color: white;
    background-color: black;
}

.small-circle-button:focus {
    outline: none;
}

.register-form-container {
  width: 60%; /* Adjust this value to suit your needs */
  margin: 0 auto; /* This will center the form */
}

.login-form-container {
  width: 30%; /* Adjust this value to suit your needs */
  margin: 0 auto; /* This will center the form */
}

.account-form-container {
  width: 60%; /* Adjust this value to suit your needs */
  margin: 0 auto; /* This will center the form */
}

.keyword-definition-pair .full-width {
  width: 100% !important;
  box-sizing: border-box;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
}

th {
    background-color: #f2f2f2;
    text-align: center;
}

tr:hover {
    background-color: #f5f5f5;
}

.keyword {
  cursor: pointer;
}

.keyword.approved {
  color: green !important;
}

.keyword.proposed {
  color: blue !important;
}

.keyword.rejected {
  color: red !important;
}

#keywordTree {
  overflow: auto;
}

.vote-btn {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

#approve {
  background-color: green;
  border-color: darkgreen;
}

#reject {
  background-color: red;
  border-color: darkred;
}

#no_vote {
  background-color: white;
  color: black;
  border-color: #4CAF50;
}

.vote-btn:hover {
  opacity: 0.7;
}
